*{
    padding: 0px;
    margin: 0px;
}
#container{
    text-align: center;
}

#up{
    margin-bottom: 5px;
    text-align: center;
}

#down{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    border: 1px dotted black;
}
